/* CSS Document */
body{
background-color:#3B3B3B; 
color:#A4A4A4; 
padding:0px; 
margin:0px; 
font:13px/17px Verdana, Arial, Helvetica, sans-serif;
}
div, ul, li, h1, h2, h3, h4, p, img{margin:0px; padding:0px;}
ul{list-style-type:none;}

.chkbtn{
width:16px; 
height:15px;  
background:url(/192/images/check.png) 0 0 no-repeat #3A3A3A; 
border:none; 
color:#fff; 
}
.chkbtn:hover{
width:16px; 
height:15px; 
background:url(/192/images/checkhover.png) 0 0 no-repeat #3A3A3A; 
border:none; 
color:#fff; 
}

.crsbtn{
width:16px; 
height:15px; 
background:url(/192/images/cross.png) 0 0 no-repeat #3A3A3A; 
border:none; 
color:#fff; 
}

.crsbtn:hover{
width:16px; 
height:15px; 
background:url(/192/images/crosshover.png) 0 0 no-repeat #3A3A3A; 
border:none; 
color:#fff; 
}

/*----TOP PANEL----*/
#header_container{
height:299px; 
position:relative; 
margin:0 auto; 
padding:0px; 
background-image:url(/192/images/header_slice.gif); 
background-repeat:repeat-x; 
background-position:top;
}

#header{
width:755px; 
height:299px; 
position:relative; 
margin:0 auto; 
padding:0px 9px 0px 14px;}

#header img{
height:86px; 
width:450px; 
position:absolute; 
top:0; 
left:161px; 
padding:0px;
}

#header ul{
width:94px; 
height:145px; 
padding:23px 29px 20px 40px; 
position:absolute; 
top:103px; 
left:0px; 
background:url(/192/images/ul.gif) 0 0 no-repeat;
}

#header ul ul{
position:absolute; 
left:-3000px; 
background: transparent;
}

#header ul li{
background:url(/192/images/bullet1.gif) 0 7px no-repeat #ccc; 
border-bottom:#929292 dotted 1px; 
font:12px/24px Verdana, Helvetica, sans-serif; 
font-weight:bold; 
color: #000; 
padding-left:10px;
}

#header ul li.contact{border:none;}

#header ul li a{
font-family:Verdana, Helvetica, sans-serif; 
font-size:12px; 
font-weight:bold; 
text-decoration:none; 
background:#ccc; 
color:#212121;
}

#header ul li a:hover,a.active{
background:#ccc; 
color:#B53332; 
text-decoration:none;
}

#header ul li:hover ul{
left: 7em;
top: 4px;
}

#header .on a {
background:#ccc; 
color:#B53332; 
cursor:default;
}

#header h1{
padding:137px 0px 0px 33px; 
background:url(/192/images/banner.jpg) 0 0 no-repeat #fff; 
width:547px; 
height:51px; 
font-family:Verdana, Helvetica, sans-serif; 
font-size:13px; 
font-weight:bold; 
color: #3B3B3B; 
position:absolute; 
top:103px; 
left:175px;
}

/*----CAROUSEL BANNER---
#carousel{ padding:137px 0px 0px 33px; width: 580px; height: 188px; overflow: scroll; }
#carousel ul {
	list-style: none;
	width:2900px;
	margin: 0;
	padding: 0;
	position:relative;
}
#carousel li {
	display:inline;
	float:left;
}*/

/*----BODY1 PANEL----*/
#body1{
width:778px; 
height:77px; 
position:relative; 
margin:0 auto; 
background:url(/192/images/from_shadow.jpg) 0 100% no-repeat;
}
#body1hidden{
display: none;
width:778px; 
height:77px; 
position:relative; 
margin:0 auto; 
background:url(/192/images/from_shadow.jpg) 0 100% no-repeat;
}

#body1hidden form{
width:690px; 
height:77px; 
margin:0; 
padding:0 0 0 88px;
}
#body1 form{
width:690px; 
height:77px; 
margin:0; 
padding:0 0 0 88px;
}

#body1 form label{
width:177px; 
height:44px; 
font-family:Georgia, "Times New Roman", Times, serif; 
font-size:20px; 
font-weight:bold; 
color: #fff; 
background-color:#3B3B3B; 
display:block; 
float:left; 
background-image: url(/192/images/level.jpg); 
background-repeat:no-repeat; 
background-position:left top; 
padding-left:60px; 
line-height:44px; 
margin-top:17px;
}
#body1hidden form label{
width:177px; 
height:44px; 
font-family:Georgia, "Times New Roman", Times, serif; 
font-size:20px; 
font-weight:bold; 
color: #fff; 
background-color:#3B3B3B; 
display:block; 
float:left; 
background-image: url(/192/images/level2.jpg); 
background-repeat:no-repeat; 
background-position:left top; 
padding-left:60px; 
line-height:44px; 
margin-top:17px;
}

#body1 form input{
width:135px; 
height:18px; 
float:left; 
display:block; 
margin:28px 25px 0 0; 
padding:0 0 0 10px;
}#body1hidden form input{
width:135px; 
height:18px; 
float:left; 
display:block; 
margin:28px 25px 0 0; 
padding:0 0 0 10px;
}

#body1 form input.botton{
width:65px; 
height:28px; 
float:left; 
background:url(/192/images/button.gif) 0 0 no-repeat #3A3A3A; 
border:none; 
color:#fff; 
font:14px/28px Verdana, Arial, Helvetica, sans-serif; 
margin:26px 0 0; 
padding:0px;
}
#body1hidden form input.botton{
width:65px; 
height:28px; 
float:left; 
background:url(/192/images/button.gif) 0 0 no-repeat #3A3A3A; 
border:none; 
color:#fff; 
font:14px/28px Verdana, Arial, Helvetica, sans-serif; 
margin:26px 0 0; 
padding:0px;
}
#body1 form input.botton:hover{
width:65px; 
height:28px; 
background:url(/192/images/buttonhover.gif) 0 0 no-repeat #3A3A3A; 
}
#body1hidden form input.botton:hover{
width:65px; 
height:28px; 
background:url(/192/images/buttonhover.gif) 0 0 no-repeat #3A3A3A; 
}
#body1hidden p.quote {
	float: left;
	text-indent: 25px;
	font-style: italic;
	font-size: 10px;
}
/*----/BODY1 PANEL----*/

/*----BODY MIDDLE PANEL----*/
#bodymiddlePan{
width:602px; 
position:relative; 
margin:0 auto; 
padding:0 88px; 
clear:both;
}

#bodymiddlePan h2{
width:400px; 
height:68px; 
display:block; 
background:#3B3B3B; 
color:#FBD61A; 
font:28px/68px Georgia, "Times New Roman", Times, serif; 
font-weight:normal;
}

#bodymiddlePan h3{
width:400px; 
height:20px; 
display:block; 
background:#3B3B3B; 
color:#FFFF66; 
font:Georgia, "Times New Roman", Times, serif; 
font-weight:normal;
}

#bodymiddlePan p.lasttext{padding:0 0 25px 0;}
#bodymiddlePan p span{background:#3B3B3B; color:#fff;}
/*----BODY MIDDLE PANEL----*/

/*----REQUEST PANEL----*/
#reqPan{
width:725px; 
position:relative; 
margin:0 auto; 
padding:0 88px; 
clear:both;
}

#reqPan h2{
width:600px; 
height:60px; 
display:block; 
background:#3B3B3B; 
color:#FBD61A; 
font:28px/68px Georgia, "Times New Roman", Times, serif; 
font-weight:normal;
}

#reqPan h3{
width:400px; 
height:20px; 
display:block; 
background:#3B3B3B; 
color:#FFFF66; 
font:Georgia, "Times New Roman", Times, serif; 
font-weight:underline;
}

#reqPan input.botton{
width:100px; 
height:28px; 
float: right; 
background:url(/192/images/buttonlong.gif) 0 0 no-repeat #3A3A3A; 
border:none; 
color:#fff; 
font:11px/24px Verdana, Arial, Helvetica, sans-serif; 
margin:20px 0 0; 
margin-left: 5px;
margin-bottom: 20px;
padding:0px;
}

#reqPan input.botton:hover{
width:100px; 
height:28px; 
background:url(/192/images/buttonhoverlong.gif) 0 0 no-repeat #3A3A3A; 
}

#reqPan fieldset{
padding-left: 250px;
}

#reqPan label{
color: #cccccc;
}

#reqPan p.lasttext{padding:0 0 25px 0;}
#reqPan p span{background:#3B3B3B; color:#fff;}
/*----REQUEST PANEL----*/

/*----TABLES----*/
table{
margin: 10px 0;
border: 1px solid gray;
width: 100%;
border-collapse:collapse;
border: 1px solid gray;
}

table tr:hover{
	background-color: #ffffff;
}

table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color: #333333;
	border-collapse: collapse;
}
table.altrowstable th {
	padding: 4px;
	border: 1px solid gray;
}
table.altrowstable td {
	padding: 2px;
}
.oddrowcolor{
	background-color:#cccccc;
}
.evenrowcolor{
	background-color:#a9a9a9;
}

.chkbtn{
width:16px; 
height:15px;  
background:url(/192/images/check.png) 0 0 no-repeat #3A3A3A; 
background-color: transparent;
border:none; 
color:#fff; 
margin-left: 13px;
}

.chkbtn:hover{
width:16px; 
height:15px; 
background:url(/192/images/checkhover.png) 0 0 no-repeat #3A3A3A; 
background-color: transparent;
border:none; 
color:#fff; 
margin-left: 13px;
}

.crsbtn{
width:16px; 
height:15px; 
background:url(/192/images/cross.png) 0 0 no-repeat #3A3A3A; 
background-color: transparent;
border:none; 
color:#fff; 
margin-left: 7px;
}

.crsbtn:hover{
width:16px; 
height:15px; 
background:url(/192/images/crosshover.png) 0 0 no-repeat #3A3A3A; 
background-color: transparent;
border:none; 
color:#fff; 
margin-left: 7px;
}
/*----TABLES----*/

/*----FORMS----*/
fieldset {
border:1px solid transparent;
margin:0;
padding:0;
}

form p {
height:1%;
margin:10px 0 5px;
}

form p:after {
clear:both;
content:".";
display:block;
font-size:0;
height:0;
visibility:hidden;
}

form p label {
display:block;
float:left;
color: #333;
margin-right:30px;
width:15%;
}

/*----CONTACT FORM----*/
#contact{
width:350px; 
background:transparent; 
position:relative;
float: right;
margin:0 auto;
padding: 0 19px 0 0;
}

form.postit {
background:url(/192/images/postit.png) no-repeat center top;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:12px;
height:223px;
margin:25px auto;
padding:18px 0 0 40px;
position:relative;
width:331px;
z-index:2;
}

form.postit p input,form.postit p select,form.postit p textarea {
background-color:#fff;
border:1px solid #cc6;
color:#999;
font-size:11px;
width:200px;
}

form.postit legend {
font-size:16px;
font-weight:700;
color: #333;
}

form.postit button.btn,a.btn {
background:url(/192/images/send_button.png) no-repeat;
border:0;
bottom:44px;
color:#fff;
cursor:pointer;
font-weight:700;
height:45px;
position:absolute;
right:20px;
text-indent:-9999px;
width:53px;
}

form.postit button.btn:hover,a.btn {
background:url(/192/images/send_button_hover.png) no-repeat;
}

form.postit a.btn:hover {
background-color:#ccc;
color:#333;
}

/*----DETAILS PANEL----*/
#container{
width: 750px;
height: 300px;
margin: 20px auto;
}

#details{
position: relative;
float: left;
width: 300px;
margin:0 auto; 
padding:0 0px 0 20px;
clear:both;
}

#details h2{
width:200px; 
height:68px; 
display:block; 
background:#3B3B3B; 
color:#FBD61A; 
font:28px/68px Georgia, "Times New Roman", Times, serif; 
font-weight:normal;
}

#details ul li {
padding:7px 10px 7px 30px;
}

#details ul li.name {
background:url(/192/images/16-member.png) no-repeat left center;
}

#details ul li.address {
background:url(/192/images/book_addresses.png) no-repeat left center;
}

#details ul li.email {
background:url(/192/images/email.png) no-repeat left center;
}

#details ul li.phone {
background:url(/192/images/phone.png) no-repeat left center;
}
/*----DETAILS PANEL----*/

/*----BODY BOTTOM PANEL----*/
#bodyBottomPan{
width:690px; 
background:url(/192/images/body_shadow.gif) 0 0 no-repeat; 
position:relative; 
margin:0 auto; 
padding:54px 0 0 88px; 
clear:both;
}

/*----Info Panel----*/
#infoPan{
width:187px; 
height:192px; 
background:url(/192/images/infopanelbg.jpg) 0 100% no-repeat #3B3B3B; 
float:left; 
margin:0 28px 0 0; 
color:#524201; 
font:13px/17px Verdana, Arial, Helvetica, sans-serif;
}

#infoPan h2{
width:163px; 
height:40px; 
background:url(/192/images/infopaneltop.jpg) 0 0 no-repeat #3B3B3B; 
color:#fff; 
font:32px/36px "Trebuchet MS", Arial, Helvetica, sans-serif; 
font-weight:normal; 
padding:30px 0 0 24px;
}

#infoPan p{
padding:10px 0 0 24px; 
line-height:17px;
}
#infoPan p.view{
width:66px; 
height:18px; 
padding:10px 0 0 24px;
}
#infoPan p.view a{
width:66px; 
height:18px; 
display:block; 
background:url(/192/images/infoview-normal.gif) 0 0 no-repeat #F0C40E; 
color:#fff; 
font:12px/18px Verdana, Arial, Helvetica, sans-serif; 
font-weight:bold; 
text-align:center; 
text-decoration:none;
}
#infoPan p.view a:hover{
background:url(/192/images/infoview-hover.gif) 0 0 no-repeat #F0C40E; 
color:#fff; 
text-decoration:none;
}
/*----/Info Panel----*/

/*----Services Panel----*/
#servicesPan{
width:187px; 
height:192px; 
background:url(/192/images/servicespanelbg.jpg) 0 100% no-repeat #3B3B3B; 
color:#212121; 
float:left; 
margin:0 28px 0 0; 
font:13px/17px Verdana, Arial, Helvetica, sans-serif;
}

#servicesPan h2{
width:163px; 
height:40px; 
background:url(/192/images/servicespaneltop.jpg) 0 0 no-repeat #3B3B3B; 
color:#fff; 
font:32px/36px "Trebuchet MS", Arial, Helvetica, sans-serif; 
font-weight:normal; 
padding:30px 0 0 24px;
}

#servicesPan p{padding:10px 0 0 24px; line-height:17px;}
#servicesPan p.view{width:66px; height:18px; padding:10px 0 0 24px;}
#servicesPan p.view a{
width:66px; 
height:18px; 
display:block; 
background:url(/192/images/servicesview-normal.gif) 0 0 no-repeat #B8B8B8; 
color:#fff; 
font:12px/18px Verdana, Arial, Helvetica, sans-serif; 
font-weight:bold; 
text-align:center; 
text-decoration:none;
}
#servicesPan p.view a:hover{
background:url(/192/images/servicesview-hover.gif) 0 0 no-repeat #B8B8B8; 
color:#fff; 
text-decoration:none;
}
/*----/Services Panel----*/

/*----Schedule Panel----*/
#schedulePan{
width:187px; 
height:192px; 
background:url(/192/images/schedulepanelbg.jpg) 0 100% no-repeat #3B3B3B; 
color:#fff; 
float:left; 
margin:0 28px 0 0; 
font:13px/17px Verdana, Arial, Helvetica, sans-serif;
}

#schedulePan h2{
width:163px; 
height:40px; 
background:url(/192/images/schedulepaneltop.jpg) 0 0 no-repeat #3B3B3B; 
color:#fff; 
font:32px/36px "Trebuchet MS", Arial, Helvetica, sans-serif; 
font-weight:normal; 
padding:30px 0 0 24px;
}

#schedulePan p{
padding:10px 0 0 24px; 
line-height:17px;
}
#schedulePan p.view{width:66px; height:18px; padding:10px 0 0 24px;}
#schedulePan p.view a{
width:66px; 
height:18px; 
display:block; 
background:url(/192/images/scheduleview-normal.gif) 0 0 no-repeat #E45D5D; 
color:#fff; 
font:12px/18px Verdana, Arial, Helvetica, sans-serif; 
font-weight:bold; 
text-align:center; 
text-decoration:none;
}
#schedulePan p.view a:hover{background:url(/192/images/scheduleview-hover.gif) 0 0 no-repeat #E45D5D; color:#fff; text-decoration:none;}
/*----/Schedule Panel----*/

/*----BOTTOM PANEL----*/
#bottomPan{
height:182px; 
background:url(/192/images/bottombg.gif) 0 0 repeat-x; 
position:relative; 
margin:0 auto; 
padding:65px 0 0; 
clear:both;}

#bottomMainPan{width:778px; position:relative; margin:0 auto; padding:50px 0 0;}

#bottomBorderPan{width:778px; float:left; background:url(/192/images/bottomborder-bg1.gif) 0 0 repeat-y;}

#bottomBorderPan h2{
width:210px; 
height:40px; 
position:absolute; 
top:28px; 
left:0px; 
display:block; 
background:#ccc; 
color:#0C0C0C; 
font:24px/40px Georgia, "Times New Roman", Times, serif;
}

#bottomBorderPan h3{
width:210px; 
height:40px; 
position:absolute; 
top:28px; 
left:259px; 
display:block; 
background:#ccc; 
color:#0C0C0C; 
font:24px/40px Georgia, "Times New Roman", Times, serif;
}

#bottomBorderPan h4{
width:210px; 
height:40px; 
position:absolute; 
top:28px; 
left:517px; 
display:block; 
background:#ccc; 
color:#0C0C0C; 
font:24px/40px Georgia, "Times New Roman", Times, serif;
}

#bottomBorderPan ul{float:left; width:258px; padding:25px 0 0;}
#bottomBorderPan ul li{width:225px; height:22px; margin:0 10px 0 0;}
#bottomBorderPan ul li a{
width:200px; 
height:22px; 
display:block; 
background:url(/192/images/arrow-normal.gif) 0 8px no-repeat #ccc; 
color:#3D3C2C; 
font:14px/22px Arial, Helvetica, sans-serif; 
text-decoration:none; 
padding:0 0 0 16px;
}

#bottomBorderPan ul li a:hover{background:url(/192/images/arrow-hover.gif) 0 8px no-repeat #BDBDBD; color:#3D3C2C; text-decoration:none;}
/*----BOTTOM PANEL----*/

/*----FOOTER PANEL----*/
#footermainPan{
height:144px; 
background:url(/192/images/footerbg.gif) 0 0 repeat-x #3B3B3B; 
position:relative; 
margin:0 auto;  
color:#fff; 
font:13px/22px "Trebuchet MS",Arial, Helvetica, sans-serif; 
clear:both; 
padding:30px 0 0;
}

#footerPan{width:778px; position:relative; margin:0 auto;}

#footerlogoPan{display:block; width:105px; height:40px; position:absolute; top:0px; left:560px;}

#footerPan ul{width:546px; position:absolute; top:0px; left:0px;}
#footerPan li{float:left; }
#footerPan ul li a{
padding:0 10px 0; 
color:#fff; 
background: url(/192/images/footermenubg.gif) 0 0 repeat-x #3B3B3B; 
text-decoration:none;
}
#footerPan ul li a:hover{text-decoration:underline;}

#footerPan ul.templateworld{width:250px; background:#3B3B3B; color:#fff; display:block; position:absolute; top:80px; left:10px;}
#footerPan ul.templateworld li a{background:#3B3B3B; display:block; color:#fff; text-decoration:none;}
#footerPan ul.templateworld li a:hover{text-decoration:underline;}

#footerPan p.copyright{
width:300px; 
background: url(/192/images/copyrightbg.gif) 0 0 repeat-x #3B3B3B; 
color:#fff; 
position:absolute; 
top:23px; 
left:10px;
}

#footerPanhtml{width:70px; height:24px; display:block; position:absolute; top:49px; left:5px;}
#footerPanhtml a{
width:65px; 
height:24px; 
display:block; 
background:url(/192/images/html-normal.gif) 0 0 no-repeat #3B3B3B; 
color:#fff; 
font-size:13px; 
line-height:23px; 
font-weight:bold; 
text-decoration:none;
text-transform:uppercase; 
padding:0 0 0 5px;
}
#footerPanhtml a:hover{background:url(/192/images/html-hover.gif) 0 0 no-repeat #3B3B3B; color:#fff;}
#footerPancss{width:58px; height:24px; display:block; position:absolute; top:50px; left:80px;}
#footerPancss a{
width:49px; 
height:24px; 
display:block; 
background:url(/192/images/css-normal.gif) 0 0 no-repeat #3B3B3C; 
color:#3B3B3B; 
font-size:13px; 
line-height:24px; 
font-weight:bold; 
text-decoration:none; 
text-transform:uppercase; 
padding:0 0 0 10px;
}
#footerPancss a:hover{background:url(/192/images/css-hover.gif) 0 0 no-repeat #3B3B3B; color:#3B3B3C; text-decoration:none;}

